{{- $defaultEnv := promptString "Default ops-charm environment" -}}

sourceDir = "{{ .chezmoi.homedir }}/envs/{{ $defaultEnv }}/chezmoi"

[data]
    defaultEnv = "{{ $defaultEnv }}"
    environments = "{{ .chezmoi.homedir }}/envs"
    opsCharm = "{{ .chezmoi.homedir }}/envs/ops-charm"
    
