{{- $defaultenv := promptString "Default ops-charm environment" -}}

sourceDir = "{{ .chezmoi.homedir }}/envs/{{ $defaultenv }}/chezmoi"

[data]
    defaultenv = "{{ $defaultenv }}"
    environments = "{{ .chezmoi.homedir }}/envs"
    opscharm = "{{ .chezmoi.homedir }}/envs/ops-charm"
    
