#!/bin/bash

#[data]
#    environments = "{{ .chezmoi.homedir }}/envs"
#    opscharm = "{{ .chezmoi.homedir }}/envs/ops-charm"

echo Downloading ops-charm...
git clone github.com/kangco-de/ops-charm {{ .opscharm }} -b devel && echo "TODO: try to update to latest version"
mkvirtualenv ops-charm -r {{ .opscharm }}/requirements.txt

mkvirtualenv {{ .defaultenv }} -r {{ .environments }}/{{ .defaultenv }}/requirements.txt
