{{- $defaultEnv := promptString "Default ops-charm environment" -}}

sourceDir = "{{ .chezmoi.homedir }}/{{- if isset $defaultEnv }}{{ $defaultEnv }}{{- else }}{{ .defaultEnv }}{{- end }}/chezmoi"

[data]
    defaultEnv = "personal"
    environments = "{{ .chezmoi.homedir }}/envs"
    opsCharm = "{{ .chezmoi.homedir }}/envs/ops-charm"
    
